body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.royal-crown {
    stroke-linecap:round;
    stroke-linejoin:round;
    fill:white;
    stroke:black;
    stroke-width:30px;     
}
.line {
    stroke-linecap:round;
    stroke:black;
    stroke-width:25px;
}
.circle {
    stroke: black; 
    fill: black;
}
.circle-line {
    stroke: white;
    fill: white;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}