body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.royal-crown {
    stroke-linecap:round;
    stroke-linejoin:round;
    fill:white;
    stroke:black;
    stroke-width:30px;     
}
.line {
    stroke-linecap:round;
    stroke:black;
    stroke-width:25px;
}
.clock-circle {
    stroke: black; 
    fill: black;
}
.clock-line {
    stroke: white;
    fill: white;
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.house {
    width: 200px;
    height: 200px;
    position: relative;
    left: 90px;
    bottom: 90px;
}