body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.royal-crown {
    stroke-linecap:round;
    stroke-linejoin:round;
    fill:white;
    stroke:black;
    stroke-width:30px;     
}
.line {
    stroke-linecap:round;
    stroke:black;
    stroke-width:25px;

}